:root {
  --main-bg: #05050B;
  --second-bg: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-bg);
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}