.header {
  width: 100%;
  padding: 30px;
}
.header .col {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 30px;
  z-index: 1;
}
.header .colRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #1c1e23;
}
.header .colRight a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.sections {
  margin-top: 0rem;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#center_main {
  width: 100%;
  position: relative;
}
#center_main .float {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#center_main .chat1,
.chat2 img {
  user-select: none;
  pointer-events: none;
}
#center_main .chat2 {
  margin-top: 3rem;
}
#center_main h1 {
  font-size: 4rem;
  color: #fafdf5;
  text-align: center;
  margin-top: 3rem;
}
#center_main .mainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.mainBtn #try {
  padding: 18px 45px;
  border-radius: 50px;
  background-image: linear-gradient(
    0deg,
    hsl(209deg 43% 90%) 0%,
    hsl(209deg 51% 90%) 21%,
    hsl(208deg 56% 89%) 30%,
    hsl(210deg 63% 89%) 39%,
    hsl(209deg 67% 89%) 46%,
    hsl(209deg 75% 89%) 54%,
    hsl(209deg 82% 89%) 61%,
    hsl(208deg 86% 89%) 69%,
    hsl(209deg 93% 89%) 79%,
    hsl(209deg 100% 89%) 100%
  );
  color: #23252b;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.mainBtn #try:hover {
  background-image: linear-gradient(
    210deg,
    hsl(209deg 43% 90%) 0%,
    hsl(209deg 51% 90%) 21%,
    hsl(208deg 56% 89%) 30%,
    hsl(210deg 63% 89%) 39%,
    hsl(209deg 67% 89%) 46%,
    hsl(209deg 75% 89%) 54%,
    hsl(209deg 82% 89%) 61%,
    hsl(208deg 86% 89%) 69%,
    hsl(209deg 93% 89%) 79%,
    hsl(209deg 100% 89%) 100%
  );
}
#codingChallenges {
  margin-top: 20rem;
}
#jobBoard {
  margin-top: 5rem;
}
#talkDev {
  margin-top: 5rem;
}
.codCol {
  display: flex;
  align-items: normal;
  gap: 2rem;
}
.codeColLeft h3 {
  font-size: 2rem;
  color: #fff;
}
.codeColLeft p {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #9299aa;
}
#faq {
  margin-top: 8rem;
}
.faqHeader h3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.accBx {
  margin-top: 3rem;
}
.AccordionTrigger {
  padding: 20px;
  background-color: #23252b;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AccordionTrigger h5 {
  color: #fff;
  font-size: 1.6rem;
}
.AccordionContent {
  padding: 20px;
  background-color: #23252b;
  cursor: pointer;
  margin-top: -5rem;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  pointer-events: none;
}
.AccordionContent#active {
  margin-top: -0.9rem;
  opacity: 1;
  pointer-events: auto;
}
.AccordionContent span {
  font-size: 1.2rem;
  color: #d9dde7;
}
#twitter_x {
  margin-top: 3rem;
}
@media screen and (max-width: 830px) {
  #center_main .float {
    display: none;
    gap: 0rem;
  }
  #center_main h1 {
    font-size: 7vw;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
  }
  .mainBtn #try {
    font-size: 6vw;
  }
  .sections {
    margin-top: 0rem;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header {
    width: 100%;
    padding: 20px;
  }
  .codCol {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
  .codCol .codeColRight img {
    width: 100%;
    height: 100%;
  }
  .codCol .codeColRight video {
    width: 100%;
    height: 100%;
  }
  .codeColLeft h3 {
    font-size: 8vw;
  }
  .codeColLeft p {
    font-size: 5vw;
  }
  .faqHeader h3 {
    font-size: 8vw;
  }
  .AccordionTrigger h5 {
    color: #fff;
    font-size: 5vw;
  }
  .AccordionContent span {
    font-size: 4vw;
    color: #d9dde7;
  }
}
